main{
    display: flex;
    align-items: start;
    height: auto;
}

#app-name{
    font-family: Raleway;
    color:whitesmoke;
    background-color: #BA4D3F;
    padding: 20px;
    font-weight: 400;
    font-size: 31px;
    line-height: 70px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-header{
    width: 100%;
    margin: 0px;
    background-color: #E7C5B6;
    text-align: center;
    color:#A84540;
    font-family: Raleway;
    padding:20px 0px 20px 0px;
}

.title-header{
    width: 100%;
    margin: 0px;
    background-color: #E7C5B6;
    text-align: center;
    color:whitesmoke;
    font-family: Raleway;
    padding:7px 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#index-page{
    background-color: #F8E6DE;
}

#header-h4{
    margin: 0px;
}

.welcome{
    font-family: Raleway;
    font-size: 170%;
    margin:0.5%;
}

.select{
    margin-bottom: 2%;
    font-family: Raleway;
    font-size: 130%;
}

#quote-section{
    background-color: #e7c5b67a;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

.sidebar{
    background-color: #BA4D3F;
    color:white;
    height: 100vh;
}

#sidebar-selections{
    width:auto;
}

.side-select{
    padding:20px;
    font-family: Raleway;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    border-bottom: black 1px solid;
    list-style: none;
    width:auto;
    text-align: center;
}

.side-link{
    color: linen;
    text-decoration: none;
}

.side-link:hover,.index-button:hover{
    color: pink;
}

#index-main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BA4D3F;
    width: 100%;
}

.intro-para h1 {
    padding-top: 2%;
}

#hw-form{
    background-color: linen;
    border: 5px solid #E7C5B6;
    border-radius: 5px;
    display: flex;
    width: 60%;
    justify-content: center;
    /* /* align-items: center; */
    flex-direction: column;
    margin: 2%;
    padding: 7%;
}
#first-inputs{
display: flex;
}
/* ::placeholder {
    text-align: center; 
} */
input{
    text-align:center;
}
#gender{
display: flex;
}
#goal-prompt{
    margin: 0px;
}
#hw-form-forms{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 3%;
}

#hw-form-buttons{
    display: flex;
    width: 50%;
    justify-content: center;
    padding-bottom: 3%;
}

.hw-button{
    background-color: #EFD5CA;
    color:#909090;
    border-color: #909090;
    padding:1% 2%;
}

#left-hw-button{
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

#right-hw-button{
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.hw-form-div{
    display: flex;
    flex-direction: column;
    align-items: center; 
} 

.button-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.index-button-outer{
    background-color: #BA4D3F;
    width: 20%;
    text-align: center;
    border: 1px solid #9f9f9f;
}

#non-side{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
}

#food-area{
    background-color: linen;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden ;
}

#exercise-area{
    background-color: linen;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden ;
}

#simplicity{
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}

#food-search-area{
    background-color: #BA4D3F;
    padding:20px;
    font-family: Raleway;
    font-style: normal;
    font-size: 20px;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#exercise-search-area{
    background-color: #BA4D3F;
    padding:20px;
    font-family: Raleway;
    font-style: normal;
    font-size: 20px;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#exercises{
display: flex;
flex-direction: column;
overflow: scroll;
}

#food-result-list{
    width:90%;
    height: 80%;
    margin-top:25px;
    overflow:hidden; overflow-y:scroll;
    border-radius: 10px;
}

.food-img{
    max-width: 200px;
    max-height: 200px;
    border:#a5a5a5 5px solid;
    border-radius: 25px;
    padding: 10px;
}

.food-result-text{
    margin-left:15%;
}

.food-result{
    background-color: whitesmoke;
    width: 100%;
    list-style: none;
    color: black;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #767676;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label{
    color: linen;
    padding: 10px;
}

#exercise-select-area{
    background-color: linen;
    height: 100%;
    width: 100%;
}

.index-button{
    text-decoration:none;
    color: white;
    font-family: Raleway;
    /* font-size: 100%;     */
}

.index-button-outer{
    padding:1.5%;
    border-radius: 15px;

}

#index-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* position: fixed; */
    /* inset: 0; */
}

#food-page{
    display: flex;
    height: 100vh;
}

#exercise-page{
    display: flex;
    height: 100vh;
}