main{
    display: flex;
    align-items: start;
    height: auto;
}

#app-name{
    font-family: Raleway;
    color:whitesmoke;
    background-color: #BA4D3F;
    padding: 20px;
    font-weight: 400;
    font-size: 31px;
    line-height: 70px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-header{
    width: 100%;
    margin: 0px;
    background-color: #E7C5B6;
    text-align: center;
    color:#A84540;
    font-family: Raleway;
    padding:20px 0px 20px 0px;
}

.title-header{
    width: 100%;
    margin: 0px;
    background-color: #E7C5B6;
    text-align: center;
    color:whitesmoke;
    font-family: Raleway;
    padding:20px 0px 20px 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.sidebar{
    background-color: #BA4D3F;
    color:white;
    height: 100vh;
}

#sidebar-selections{
    width:auto;
}

.side-select{
    padding:20px;
    font-family: Raleway;
    font-style: italic;
    line-height: 50px;
    border-bottom: black 1px solid;
    list-style: none;
    width:auto;
}

.index-main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BA4D3F;
}

.intro-para h1 {
    padding-top: 90px;
}

.button-section{
    display: flex;
}
.button-section button{
    color: #F8E6DE;
    background-color: #BA4D3F;
    border-radius: 12px;
    padding-left:1%;
    padding-right:1%;
    margin: 4%;
}
#non-side{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
}

#food-area{
    background-color: linen;
    height: 100%;
    width: 100%;
}

#exercise-select-area{
    background-color: linen;
    height: 100%;
    width: 100%;
}

#index-body,.index-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
